.background {
  //
  // #video {
  //   width: 100%;
  //   height: 100%;
  //   object-fit: cover;
  //   z-index: -1;
  // }
  height: 100%;
  img {
    width: 100%;
    filter: brightness(60%);
  }
}
.content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  .Navcaro {
    ul {
      height: 10rem;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      background-color: #673ab745;
      border: 1px solid #1c1b1d;
      border-radius: 22px;
      // width: 48rem;
      width: auto;
      /* height: 43rem; */
      // height: 96px;
      height: 74px;
      li {
        list-style: none;
        padding: 8px;
        margin: auto;
        justify-content: space-around;
        font-size: 24px;
      }
      // a {
      //   text-decoration: none;
      //   animation: forwards;
      //   text-decoration: underline;

      //   a:hover {
      //     transform-origin: left;
      //     color: rgba(0, 0, 3, 1);
      //     transition: 0.3s;
      //     background-color: aquamarine;
      //   }
      // }
      a {
        position: relative;
        text-decoration: none;
        font-family: Neusa Next Std medium;
        // color: #fffdfd;
        color: black;
        font-size: 19px;
        letter-spacing: 0.5px;
        padding: 0px 16px;
      }
      a::after {
        content: "";
        position: absolute;
        background-color: #ff3c78;
        height: 2px;
        width: 0;
        // left: 0;
        left: 0;
        width: 100%;
        bottom: -8px;
        transform: scale(0, 1);
        transition: 0.9s;
      }
      a:hover {
        color: rgb(226, 238, 234);
      }
      a:hover:after {
        transform: scale(1, 1);
      }
    }
  }
  .title {
    color: white;
    h1 {
      font-size: 3rem;
      letter-spacing: 0.2rem;
      color: #fff;
      font-family: Neusa Next Std medium;
    }
    p {
      text-align: center;
      padding: 0 30vw;
      margin-top: 0.5rem;
      font-size: 1.2rem;
    }
  }

  // #Herosearch {
  #navsearch {
    width: 616px;
    // border-radius: 15px;
    /* margin: 9px; */
    // background-color: #673ab77a;
    background-color: #673ab752;
    border: 1px solid black;
    color: white;
  }
  .ant-btn-primary {
    color: #fff;

    // border-color: #9b264d;
    background: #673ab7;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
  }

  // }
  // .search {
  //   display: flex;
  //   background-color: #ffffffce;
  //   padding: 0.5rem;
  //   border-radius: 0.5rem;
  //   .container {
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     flex-direction: column;
  //     padding: 0 1.5rem;
  //     label {
  //       font-size: 1.1rem;
  //       color: #03045e;
  //     }
  //     input {
  //       background-color: transparent;
  //       border: none;
  //       text-align: center;
  //       color: black;
  //       &[type="date"] {
  //         padding-left: 3rem;
  //       }
  //       &::placeholder {
  //         color: black;
  //       }
  //       &:focus {
  //         outline: none;
  //       }
  //     }
  //   }
  //   button {
  //     padding: 1rem;
  //     cursor: pointer;
  //     border-radius: 0.3rem;
  //     border: none;
  //     color: white;
  //     background-color: #4361ee;
  //     font-size: 1.1rem;
  //     text-transform: uppercase;
  //     transition: 0.3s ease-in-out;
  //     &:hover {
  //       background-color: #023e8a;
  //     }
  //   }
  // }
}
// @media screen and (min-width: 280px) and (max-width: 980px) {
//   //   height: 25rem;
//   .background {
//     background-color: palegreen;
//     img {
//       height: 100%;
//     }
//   }
//   .content {
//     .title {
//       h1 {
//         font-size: 1rem;
//       }
//       p {
//         font-size: 0.8rem;
//         padding: 1vw;
//       }
//     }
//     .search {
//       flex-direction: column;
//       padding: 0.8rem;
//       gap: 0.8rem;
//       /* padding: 0; */
//       .container {
//         padding: 0 0.8rem;
//         input[type="date"] {
//           padding-left: 1rem;
//         }
//       }
//       button {
//         padding: 1rem;
//         font-size: 1rem;
//       }
//       /* display: none; */
//     }
//   }
// }
