*,
*:after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Titillium Web", sans-serif !important;
}
@import "./SCSS/variable";

@import "./SCSS/footer";
@import "./SCSS/navbar";
